.pedestrian-button {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }